* {
  margin: 0px;
  padding: 0px;
}
#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}
#post {
  border: solid black;
  background-color: beige;
  width: 300px;
  height: 350px;
  border-radius: 5px;
  overflow: scroll;
}
#postimg {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #ddd;
}
#post-content {
  padding: 10px;
 
}
#newpost {
  border: solid grey 1px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 50vw;
  margin-left: 20vw;
  margin-top: 80px;
}
a{
    text-decoration: none;
    border:solid black;
    padding: 2px;
    background-color: rgb(210, 142, 231);
    color: black;
    margin: 10px;
}
#create-post{
    position: absolute;
    right: 10px;
    top:3px;
}